# Jekyll build directory
_site/**

# Bundler files
Gemfile
Gemfile.lock
vendor/**

# Jekyll cache
.sass-cache/**
.jekyll-cache/**
.jekyll-metadata

# System files
.DS_Store
*/.DS_Store
.AppleDouble
.LSOverride
Thumbs.db